/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.lenis.lenis-smooth[data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;


	/* color-scheme: light dark; */
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--clr-bray: rgb(222, 222, 222);
	--clr-bray-light: rgba(222, 222, 222, .3);
	--clr-beige2: #b4aea7;
	--clr-wood: rgba(55, 17, 17, 0.448);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: "Bebas Neue";
}

html,
body {
	width: 100%;
	/* height: 700vh; */
	background: var(--clr-bray);
}

::-webkit-scrollbar {
	width: 0;
}

a,
button {
	all: unset;
	cursor: pointer;
}

button {
	display: inline-block;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	will-change: transform;
	transform: translateX(0) scale(1.35);
}

section {
	width: 100vw;
	height: 100vh;
	padding: 1.5em;
	overflow: hidden;
}

/* STICKY */
section.sticky {
	background-color: var(--clr-beige2);
	/* background-color: var(--clr-bray); */
}

.slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides {
	position: relative;
	width: 500%;
	height: 100%;
	display: flex;
	will-change: transform;
	transform: translateX(0);

	scroll-snap-type: x mandatory;
}

.slide {
	position: relative;
	flex: 1;
	height: 100%;

	scroll-snap-align: center;

	background-color: var(--clr-beige2);
}

.slide .img {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	/* mix-blend-mode: darken; */
}

.slide .title {
	position: relative;
	width: max-content;
	height: 200px;
	margin: 1.5em;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	z-index: 2;
}

.title h1 {
	/* color: #fff; */
	position: relative;
	text-transform: uppercase;
	font-size: 85px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: .9;
	will-change: transform;

	-webkit-text-stroke: 1px var(--clr-beige2);
	-webkit-text-stroke: 2px black;
	color: transparent;

	background-clip: text;
	/* filter: brightness(500); */
	/* background-image: linear-gradient(
		135deg,
		var(--clr-bray-light),
		var(--clr-bray-light)
	); */
	background-image: linear-gradient(
		170deg,
		#CD9A65 50%,
		/* #63ace5 50%, */
		/* #63ace5 49% 51%, */
		#eae1dc 50%
	);
	/* background-size: 10% 10%; */
	/* color: black; */
	/* color: var(--clr-beige2); */
}



/* OUTRO */
section.outro {
	color: white;
	background-color: #141414;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.outro h1 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: .9;
}